.rs-head-image {
    width: 50px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.rs-gurukripa-text {
    margin: 7px;
}

.ns-carousel {
    /*height: 200px;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid lightblue;
    border-width: 1px 1px 3px 1px;
    border-radius: 10px;
    padding: 5px;
}

.ns-carousel-inner {
    background-color: white;
    overflow: scroll;
    height: 100%;
}


/* Declare heights because of positioning of img element */

.ns-carousel .item {
    /*height: 200px; */
    /*background-color: #777;*/
}

.ns-carousel .item .container {
    background-color: white;
    overflow: scroll;
}

.ann-container {
    padding: 0px 5px;
}

.ann-container.scroll {
    width: 98%;
}

.ann-container.noscroll {
    width: 100%;
}

.ann-carcontrol {
    width: 2%;
    /*color: #f5f5f5;*/
    bottom: auto;
    top: 15px;
}

.ann-carcontrol.noscroll {
    color: #f5f5f5;
}

.ann-carcontrol.scroll {
    color: lightblue;
}

.ns-carousel-ann-head {
    background-color: #f5f5f5;
    padding: 3px 0px;
    margin-top: 5px;
}

.ns-carousel-ann-head h4 {
    margin: 5px;
}

.ns-carousel-ann-body {
    height: 150px;
    overflow: scroll;
    padding: 5px;
    border: 1px solid #ecf0f5;
    margin-bottom: 5px;
}

.ns-carousel-indicators {
    bottom: 2px;
}

.ns-carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px !important;
    height: 3px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #777 !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.ns-carousel-indicators .active {
    opacity: 1;
}

.uf_message_menu .uf_message {
    font-size: .8em;
}

.rs-control-sidebar {
    padding-top: 120px !important;
    font-size: .8em;
}

.rs-control-sidebar-bg,
.rs-control-sidebar {
    right: -330px;
    width: 330px !important;
}

.rs-control-sidebar .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px !important;
}

.rs-control-sidebar .dataTables_wrapper .dataTables_paginate .pagination>li>a {
    padding: inherit !important;
    border: none;
    text-decoration: underline;
}

.rs-control-sidebar .dataTables_wrapper .dataTables_info {
    display: none;
}

.rs-control-sidebar .crud-datatable {
    padding: inherit !important;
}

.rs-control-sidebar .box-header .box-title {
    font-size: 12px;
}

.rs-control-sidebar .tab-content {
    padding: 10px;
}

.dismiss-ufmessage {
    text-decoration: underline;
}

.ufmessage_dt .dt-search {
    padding-right: 2px;
}

.ufmessage_dt .dt-pagelength,
.ufmessage_dt .dt-snexpbtn {
    padding-left: 0px;
}

.ufmessage_dt .dt-snexpbtn {
    float: left !important;
}

.ufmessage_dt .dt-export-btn {
    padding: 9px 2px;
}

@media (min-width: 768px) {
    /*
    .rs-sidebar-mini.sidebar-collapse .content-wrapper,
    .rs-sidebar-mini.sidebar-collapse .right-side {
        margin: 15px !important;
        z-index: 840;
    }
*/
    .rs-content-wrapper.rs-fixed-nav {
        margin-top: 50px;
    }
    .rs-navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0px;
    }
    .nav-logolink {
        font-size: 1.em;
    }
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_length {
        margin-top: 0px !important;
    }
}

.nav-logolink {
    padding: 0px 10px;
    color: white;
}

.nav-logo {
    width: 60px;
}

.nav-subtext {
    font-size: 1.5em;
    padding: 10px;
    color: white;
    float: left;
}

.navfooter-logolink {
    padding: 0px 10px;
    color: white;
    font-size: 1.5em;
}

.navfooter-logo {
    height: 50px;
}


/*
    .rs-sidebar-mini.sidebar-collapse .main-footer {
        margin: 15px !important;
        z-index: 840;
    }
.rs-sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
    height: 50px;
}
.sidebar-collapse .main-header .navbar {
    margin-left: 50px !important;
}

.main-header .navbar {
    margin-left: 230px !important;
}

.sidebar-mini .main-sidebar {
    padding-top: 0px !important;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0px;
}
*/

.main-header a.logo {
    padding: 0px;
}

.sidebar-logo {
    background-color: #1379E8;
}

.cc-head-image {
    padding: 1px !important;
    height: 100px !important;
    width: 100px !important;
}

.cc-logo {
    padding: 0px !important;
}

.cmcamps-skin .wrapper,
.skin-red .wrapper {
    background: #fff !important;
}


/*
.cmcamps-skin .wrapper,
.skin-red .wrapper
.skin-red .main-sidebar,
.skin-red .left-side 
{
    background: #fff !important;
}

*/

.card {
    width: 100%;
}

.card,
.card-no-width {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    max-width: 100%;
    /*
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    /*box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
}

.card .header,
.card-no-width .card-image,
.card-no-width .header,
.card-profile .card-avatar,
.card-raised,
.card-testimonial .card-avatar img,
.iframe-container iframe,
.img-raised {
    -webkit-box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.cm-carousel {
    padding: 15px;
}