<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fas fa-fw fa-check"></i>Dashboard</h4>
    </div>
    <div class="panel-body">
        <p>Please visit the
        <a href="/dashboard" class="btn btn-default">Dashboard</a>
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fas fa-fw fa-compass"></i>Help</h4>
    </div>
    <div class="panel-body">
        <p>Just talk to Aditi :-) </p>
        <p>Please drop us a note if you have any questions</p>
        <a href="mailto:aditinukala@gmail.com" class="btn btn-default">@aditinulala</a>
    </div>
</div>