<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fas fa-fw fa-check"></i>Login</h4>
    </div>
    <div class="panel-body">
        <p>If you already have an account
        <a href="/account/sign-in" class="btn btn-default">Please login here</a>
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fas fa-fw fa-gift"></i>Registration</h4>
    </div>
    <div class="panel-body">
        <p>If you don't have an account then
            <a href="/account/register" class="btn btn-default">Register here</a>
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fas fa-fw fa-compass"></i>Help</h4>
    </div>
    <div class="panel-body">
        <p>Just talk to Aditi :-) </p>
        <p>Please drop us a note if you have any questions</p>
        <a href="mailto:aditinukala@gmail.com" class="btn btn-default">@aditinulala</a>
    </div>
</div>